@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@font-face {
  font-family: "Mattone";
  src: url("./fonts/Mattone-150.woff2") format("woff2"),
    url("./fonts/Mattone-150.woff") format("woff");
}

body {
  font-family: "Mattone", sans-serif;
  margin: 0;
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroll {
  overflow: hidden;
  z-index: 1;
  margin: 0;
  /* //opacity: 0.2; */
  text-transform: uppercase;
}

.m-scroll {
  overflow: hidden;
  white-space: nowrap;
  animation: scrollText 35s infinite linear;
  margin: 0;
  font-size: 0;
  display: inline-block;
}

.m-scroll span {
  font-size: 80px;
  display: inline-block;
  font-weight: 900;
  font-family: "Mattone", sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.bd-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 300px;
  margin: auto;
}

.brand-name {
  font-size: 35px;
  font-weight: 400;
  color: white;
  font-family: "Oxygen", sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.tagline {
  font-size: 6vw;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Mattone", sans-serif;
}

.button-container {
  width: auto;
  margin-top: 20px;
  display: flex;
  gap: 16px;
}

.button-container button {
  font-size: 14px;
  font-weight: 500;
  font-family: "Oxygen", sans-serif;
  padding: 11px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  letter-spacing: 2px;
}

.button-container button:hover {
  background-color: #fffb00;
  color: black;
  transition: all 0.5s;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 5rem;
  color: white;
  background-color: #0f1314;
  font-size: 1.5vw;
  /* // opacity: .4; */
  gap: 1rem;
}

footer a {
  text-decoration: none;
  color: #fffb00;
  font-size: inherit;
}

@media screen and (max-width: 768px) {
  .button-container {
    flex-direction: column;
    width: 290px;
    margin-top: 30px;
  }
  .button-container button {
    background-color: #0f1314;
    width: 100%;
    border: 1px solid #8b8b8b;
    background-color: #0f1314;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .m-scroll span {
    color: #fffb00;
    /* //opacity: 0.2; */
    text-transform: lowercase;
    font-size: 50px;
  }

  .tagline {
    font-size: 43px;
  }

  .brand-name {
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 5px;
  }

  footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 21px 1rem;
    color: white;
    background-color: #0f1314;
    font-size: 3vw;
    /* opacity: .4; */
    gap: 1rem;
  }
}

@media screen and (max-width: 365px) {
  .tagline {
    font-size: 40px;
  }
}
